body{
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media (max-width: 768px) {
    canvas {
        width: 100vw !important;
        height: 100vh !important;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}